body{ 
	font-family: Arial, sans-serif;
    background-color: rgb(226, 225, 223); 
}

/* navigation tab styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

nav li {
    margin: 0 15px;
    font-size: 16pt;
}

nav a {
    text-decoration: none;
    color: #433c3c;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

/* active section styles */
section.active {
	color:rgb(32, 10, 77);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	margin-bottom: 150px;
	background-color: rgb(226, 225, 223);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
 
/* hidden section styles */
.hidden {
	display: none;
}

main {
    display: block;
}

/* introduction section styles */
#introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16pt;
    padding: 40px;
    color: rgb(32, 10, 77);
    margin-right: 100px;
    background-color: rgb(226, 225, 223);
}

#introduction #img {
    flex: 1;
    width: 100%; 
    height: auto;
    padding: 20px;
    object-fit: contain;
}

#introduction div:not(.slider) {
    flex: 1; 
    max-width: 50%; 
    padding: 40px;
}

#introduction p {
    font-size: 12pt;
}

#about, #mywork, #contact {
    font-size: 13pt;
    padding: 20px;
}
  
a {
	color: #1c83f1;
	text-align: center;
}

a:hover{
    color: #433c3c;
}

/* Footer styles */
footer {
    font-family: Arial, sans-serif;
    color: rgb(32, 10, 77); 
    font-size: 14pt;
    background-color: rgb(226, 225, 223);
    padding: 20px;
    text-align: center;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
}